.hero-unit
  %h1 CSV Imports for SalesKing
  %p Painless,import,of,CSV,files

.row
  .span5
    %h5 Activate this app
    %p Login to SalesKing and activate this app in the app section.
  .span5
    %h5 Upload & Import CSV
    %p Easily map the csv data fields to match SalesKing's internal data and start importing
  .span5
    %h5 Fork on Github
    %p Download, fork, pull, file issues, and more with the official repo on Github.
    %a.btn.success(target="_blank" href="https://github.com/salesking/csv-import" class="")CSV Import on GitHub &raquo;
