.bundle
.ruby-version
.ruby-gemset
.rvmrc
db/*.sqlite3
log/*.*
tmp/
.sass-cache/
vendor/gems
nbproject
config/database.yml
config/settings.yml
config/salesking_app.yml
config/localeapp.rb
coverage
.idea
public/assets
.localeapp
/vendor/assets/bower_components/*
config/initializers/localeapp.rb
.localeapp
Bowerfile
.DS_Store
