.attachments {
  .created {
    color: #ccc;
    font-size: 80%;
  }
}

.side-list-item {
	margin-bottom: 6px;
}

.help-inline {
	font-size: smaller;
	position: absolute;
	margin-left: 12px;
}

/* encoding select box */
#attachment_encoding{
	max-width: 170px;
}